@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* variables */
:root {
	--primary-clr: #0f66e8;
	--secondary-clr: #5cb85c;
	--light-clr: #0f66e8af;
	--dark-clr: #22223b;
	--grey-clr: #717274;
	--grey-clr-opacticy-low: rgb(113, 114, 116, 0.2);
}

/* resets */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

/* utility classes */
.underline {
	text-decoration: underline;
}

.primary-clr {
	color: var(--primary-clr);
}

.secondary-clr {
	color: var(--secondary-clr);
}

html {
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
}

/* page wrapper */
.page-wrapper {
	max-width: 1280px;
	margin: auto;
}

/* header and navbar styles */
header {
	width: 100%;
	height: 70px;
}

.navbar {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .navbar__subscribe-btn {
	color: var(--grey-clr);
}

.navbar .navbar__heading {
	color: var(--dark-clr);
	font-size: 2em;
}

/* blog section */

.blogs-card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem 2rem;
	margin: 1em 0;
}

.blogs-card .card {
	border: 5px solid var(--grey-clr-opacticy-low);
	padding: 0.7rem;
	display: flex;
	flex-flow: nowrap column;
	justify-content: space-between;
	gap: 1rem;
}

.card .card__header-type {
	font-weight: 600;
}

.card .card__header-type,
.card .card__header-date {
	font-size: 14px;
	padding: 0.5rem 0;
}

.card .card__header-date {
	padding-top: 0;
}

.card .card__header-title {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.5rem;
}

.card .card__link {
	color: var(--light-clr);
}

/* footer */

.footer {
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--grey-clr-opacticy-low);
}

.footer .footer__content {
	display: flex;
	flex-flow: nowrap column;
	align-items: center;
	justify-content: center;
}

.footer__content .footer__content-text {
	color: var(--grey-clr);
}

.footer__content .footer__content-link {
	color: var(--light-clr);
}
