@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* variables */
:root {
	--primary-clr: #0f66e8;
	--secondary-clr: #5cb85c;
	--light-clr: #0f66e8af;
	--dark-clr: #22223b;
	--grey-clr: #717274;
	--grey-clr-opacticy-low: rgb(113, 114, 116, 0.2);
}

/* resets */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

/* utility classes */
.underline {
	text-decoration: underline;
}

.primary-clr {
	color: var(--primary-clr);
}

.secondary-clr {
	color: var(--secondary-clr);
}

html {
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
}

/* page wrapper */
.page-wrapper {
	max-width: 1280px;
	margin: auto;
}

/* header and navbar styles */
header {
	width: 100%;
	height: 70px;
}

.navbar {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .navbar__subscribe-btn {
	color: var(--grey-clr);
}

.navbar .navbar__heading {
	color: var(--dark-clr);
	font-size: 2em;
}
